
body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000; 
    height: 100vh; 
    margin: 0;
}
form {
	margin: 50px auto;
    text-align: center;
}
img {
	 width: 100px; 
     height: 100px;
}
